In [ ]:
# Dependencies and Setup
import pandas as pd
import os
from sqlalchemy import create_engine
import sqlalchemy

In [ ]:
# File to Load (Remember to Change These)
file_to_load = "data/monkeypox_df.csv"

# Read Purchasing File and store into Pandas data frame
monkey_pox_df = pd.read_csv(file_to_load)
monkey_pox_df.head()
monkey_pox_df= monkey_pox_df.rename(columns={"Travel_history (Y/N/NA)":"Travel_history","Hospitalised (Y/N/NA)":"hospitalised", "Isolated (Y/N/NA)":"Isolated"})

In [153]:
monkey_pox_df.head()
monkey_pox_df.columns

Index(['ID', 'Status', 'Location', 'City', 'Country', 'Age', 'Gender',
       'Date_onset', 'Date_confirmation', 'Symptoms', 'hospitalised',
       'Date_hospitalisation', 'Isolated', 'Date_isolation', 'Outcome',
       'Contact_comment', 'Contact_ID', 'Contact_location', 'Travel_history',
       'Travel_history_entry', 'Travel_history_start',
       'Travel_history_location', 'Travel_history_country',
       'Genomics_Metadata', 'Confirmation_method', 'Source', 'Source_II',
       'Date_entry', 'Date_last_modified', 'Source_III', 'Country_ISO3'],
      dtype='object')

In [ ]:
# File to Load 
file_to_load = "data/data.json"

# Read Purchasing File and store into Pandas data frame
cities_master_df = pd.read_json(file_to_load)
cities_master_df.columns
cities_master_df.head()
#cities_cols=['ID', "Rank","Country","2022_Population","2021_Population","Growth"]
cities_master_df= cities_master_df.rename(columns={"Name":"City","Population":"2022_Population","Prev":"2021_Population"})

In [ ]:
cities_master_df.head()

In [ ]:
monkey_pox_locations_cols = ["ID","City","Country","Contact_location" ]

monkey_pox_locations_df= monkey_pox_df[monkey_pox_locations_cols].copy()

In [ ]:
monkey_pox_locations_df.head()

In [ ]:

monkey_pox_travel_cols = ["ID","Travel_history","Travel_history_entry","Travel_history_start","Travel_history_location","Travel_history_country"]

monkey_pox_travel_info_df= monkey_pox_df[monkey_pox_travel_cols].copy()

In [ ]:
monkeypox_symptoms_df=pd.DataFrame(['Fever','Headache','Muscle aches','Backache','Swollen lymph nodes','Chills','Exhaustion','Rash','Lesions'])
monkeypox_symptoms_df.columns=["Symptoms"]
monkeypox_symptoms_df

In [ ]:
engine = create_engine('postgresql://postgres:BootyCamp71@localhost:5432/project2_monkeypox_db')
connection = engine.connect()

# Connect to PostgreSQL server

dbConnection    = engine.connect();

In [ ]:
monkey_pox_df.head()

In [ ]:
monkey_pox_df.to_sql(name='monkeypox_master',con=engine,if_exists='fail', index=False)
#monkey_pox_df.to_csv('monkeypox_master.csv')

In [ ]:
monkey_pox_locations_df.head()

In [ ]:
monkey_pox_locations_df.to_sql(name='monkeypox_locations',con=engine,if_exists='append', index=False)

In [ ]:
monkey_pox_travel_info_df.head()

In [ ]:
monkey_pox_travel_info_df.to_sql(name='monkeypox_travel',con=engine,if_exists='append', index=False)

In [ ]:
monkeypox_symptoms_df.to_sql(name='monkeypox_symptoms',con=engine,if_exists='append', index=False)

In [ ]:
cities_master_df.to_sql(name='cities_master',con=engine,if_exists='append', index=False)

In [158]:
# File to Load 
file_to_load = "data/Daily_Country_Wise_Confirmed_Cases.csv"

# Read Purchasing File and store into Pandas data frame
Daily_Country_Wise_Confirmed_Cases_df = pd.read_csv(file_to_load)
Daily_Country_Wise_Confirmed_Cases_df.columns
Daily_Country_Wise_Confirmed_Cases_df.head()

,Country,2022-05-06,2022-05-12,2022-05-13,2022-05-15,2022-05-17,2022-05-18,2022-05-19,2022-05-20,2022-05-21,...,2022-05-27,2022-05-28,2022-05-29,2022-05-30,2022-05-31,2022-06-01,2022-06-02,2022-06-03,2022-06-04,2022-06-06
0,England,1,1,1,4,0,2,0,11,0,...,0,0,0,71,11,5,11,15,0,73
1,Portugal,0,0,0,0,3,11,9,0,0,...,16,0,0,22,4,19,19,5,0,0
2,Spain,0,0,0,0,0,7,0,23,10,...,21,0,9,8,20,0,26,27,0,1
3,United States,0,0,0,0,0,1,0,1,0,...,3,0,2,0,5,0,4,3,0,0
4,Germany,0,0,0,0,0,0,1,1,2,...,6,1,0,3,16,0,17,17,5,0

In [161]:
# File to Load 
file_to_load = "data/Worldwide_Case_Detection_Timeline.csv"

# Read Purchasing File and store into Pandas data frame
Worldwide_Case_Detection_Timeline_df = pd.read_csv(file_to_load)
Worldwide_Case_Detection_Timeline_df.columns
Worldwide_Case_Detection_Timeline_df= Worldwide_Case_Detection_Timeline_df.rename(columns={"Travel_history (Y/N/NA)":"Travel_history","Hospitalised (Y/N/NA)":"hospitalised", "Isolated (Y/N/NA)":"Isolated"})

Worldwide_Case_Detection_Timeline_df.head()

,Date_confirmation,Country,City,Age,Gender,Symptoms,hospitalised,Isolated,Travel_history
0,2022-05-06,England,London,NaN,NaN,rash,Y,Y,Y
1,2022-05-12,England,London,NaN,NaN,rash,Y,Y,N
2,2022-05-13,England,London,NaN,NaN,vesicular rash,N,Y,N
3,2022-05-15,England,London,NaN,male,vesicular rash,Y,Y,N
4,2022-05-15,England,London,NaN,male,vesicular rash,Y,Y,N

In [163]:
Daily_Country_Wise_Confirmed_Cases_df.to_sql(name='Daily_CaseLoad_by_Country',con=engine,if_exists='append', index=False)

In [164]:
Worldwide_Case_Detection_Timeline_df.to_sql(name='Worldwide_Case_Detection_Timeline',con=engine,if_exists='append', index=False)